@model IEnumerable<WebOdev.Models.Product> 



<div class="row pb-3">
    @foreach (var product in Model)
    {
     
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="col-12 pt-2">
                        <img src="@product.ImageUrl" width="100%" style="border-radius:3px; border:2px solid #bbb9b9" />
                    </div>
                        </div>
                        <div>
                 <a asp-action="Details"class="btn btn-primary bg-gradient border-0 form-control" asp-route-id="@product.Id" >
                     Details</a>
                        </div>
                    </div>
                </div>
  
               
    }
</div>
